@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <img style="height: 100px;width:100px" src="https://miro.medium.com/v2/0*ZjYSm_q36J4KChdn" alt="Liga pro">
    <p>Anda a mi GitHub <a href="https://github.com/BrandonArellanoU/Arellano_Brandon_Exam1">Github Brandon Arellano</a>.</p>
</div>
